<footer class="footer" data-role="footer" >
	<div class="footer__top border-bold">
		<div class="footer__contacts contacts">
			<h3 class="contacts__title">Поддержка клиентов</h3>
			<a href="tel:096 1 500 500" class="contacts__phone phone-btn"><span class="icon-phone"></span>096 1 500 500</a>
			<div class="contacts__schedule schedule">
				<p>Работаем для Вас <span class="schedule__days">ПН-СБ</span> <span class="schedule__time">10:00 - 20:00</span></p>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="copyright">© Интернет-магазин Смартс 2017</div>
	</div>
</footer>