<div class="page-nav">
	<nav class="nav-menu">
		<ul class="nav-menu__list">
			<li class="nav-menu__item">
				<a href='' class="nav-menu__link">
					<span class="nav-menu__img-wrap">
						<span class="nav-menu__img nav-menu__img_user">
					</span>
					</span>
					<span class="nav-menu__title">Личный кабинет</span>
				</a>
			</li>
			<li class="nav-menu__item">
				<a href='' class="nav-menu__link">
					<span class="nav-menu__img-wrap">
						<span class="nav-menu__img nav-menu__img_home">
					</span>
					</span>
					<span class="nav-menu__title">Главная страница</span>
				</a>
			</li>
			<li class="nav-menu__item is-active">
				<a href='' class="nav-menu__link">
					<span class="nav-menu__img-wrap">
						<span class="nav-menu__img nav-menu__img_catalog">
					</span>
					</span>
					<span class="nav-menu__title">Каталог товаров</span>
				</a>
			</li>
			<li class="nav-menu__item">
				<a href='' class="nav-menu__link">
					<span class="nav-menu__img-wrap">
						<span class="nav-menu__img nav-menu__img_search">
					</span>
					</span>
					<span class="nav-menu__title">Поиск товаров</span>
				</a>
			</li>
			<li class="nav-menu__item">
				<a href='' class="nav-menu__link">
					<span class="nav-menu__img-wrap">
						<span class="nav-menu__img nav-menu__img_cart">
					</span>
					</span>
					<span class="nav-menu__title">Корзина</span>
				</a>
			</li>
			<li class="nav-menu__item">
				<a href='' class="nav-menu__link">
					<span class="nav-menu__img-wrap">
						<span class="nav-menu__img nav-menu__img_diagram">
					</span>
					</span>
					<span class="nav-menu__title">Оплата частями</span>
				</a>
			</li>
			<li class="nav-menu__item">
				<a href='' class="nav-menu__link">
					<span class="nav-menu__img-wrap">
						<span class="nav-menu__img nav-menu__img_payment">
					</span>
					</span>
					<span class="nav-menu__title">Рассрочка</span>
				</a>
			</li>
			<li class="nav-menu__item">
				<a href='' class="nav-menu__link">
					<span class="nav-menu__img-wrap">
						<span class="nav-menu__img nav-menu__img_exchange">
					</span>
					</span>
					<span class="nav-menu__title">Смартс-обмен</span>
				</a>
			</li>
			<li class="nav-menu__item">
				<a href='' class="nav-menu__link">
					<span class="nav-menu__img-wrap">
						<span class="nav-menu__img nav-menu__img_actions">
					</span>
					</span>
					<span class="nav-menu__title">Акции</span>
				</a>
			</li>
			<li class="nav-menu__item">
				<a href='' class="nav-menu__link">
					<span class="nav-menu__img-wrap">
						<span class="nav-menu__img nav-menu__img_shop">
					</span>
					</span>
					<span class="nav-menu__title">Магазины Смартс</span>
				</a>
			</li>
			<li class="nav-menu__item">
				<a href='' class="nav-menu__link">
					<span class="nav-menu__img-wrap">
						<span class="nav-menu__img nav-menu__img_delivery">
					</span>
					</span>
					<span class="nav-menu__title">Доставка</span>
				</a>
			</li>
			<li class="nav-menu__item">
				<a href='' class="nav-menu__link">
					<span class="nav-menu__img-wrap">
						<span class="nav-menu__img nav-menu__img_service">
					</span>
					</span>
					<span class="nav-menu__title">Сервисный центр</span>
				</a>
			</li>

		</ul>
	</nav>

	<div class="contacts contacts_white">
		<h3 class="contacts__title">Поддержка клиентов</h3>
		<a href="tel:096 1 500 500" class="contacts__phone phone-btn"><span class="icon-phone"></span>096 1 500 500</a>
		<div class="contacts__schedule schedule">
			<p>Работаем для Вас <br><span class="schedule__days">ПН-СБ</span> <span class="schedule__time">10:00 - 20:00</span></p>
		</div>
	</div>
</div>